body {
  margin: 0;
  overflow: hidden;
}


#UI {
  position: fixed; 
  top:0; 
  right:25; 
  /* background-color:darkgrey; */
}

h1{
  font-family: 'Courier New', Courier, monospace;
  color: deeppink ;
  background-color: ;
  font-size: larger;
}

button{
  background: none;
  border: white 2px solid;
  padding-left: 10px;
  padding-right: 10px;
  margin: 2px;
  margin-left: 20px;
  font-size: larger;
  color: deeppink;
  width: 30%;
}

button:hover{
  border: deeppink 2px solid;
}

button:active{
  background-color: deeppink;
}

.xColor {
  background-image: linear-gradient(yellow, red);
  width: 5px;
  height: 100;
  position: fixed;
}

.yColor {
  background-image: linear-gradient(white, rgb(0, 255, 0));
  width: 5px;
  height: 100;
  position: fixed;
}

.zColor {
  background-image: linear-gradient(rgb(0,255,255), rgb(0, 0, 255));
  width: 5px;
  height: 100;
  position: fixed;
}