@import url("https://webglfundamentals.org/webgl/resources/webgl-tutorials.css");
body {
  margin: 0;
  overflow: hidden;
}
canvas {
  margin: 0;
  overflow: hidden;
}

#UI {
  position:fixed;
  top: 0;
  color: brown;
}

h1{
  color: brown ;
  background-color: ;
}